{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}

{#{% block head %}#}
{#    {{ super() }}#}
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
{#{% endblock %}#}

{% block title %}O stránce{% endblock %}
{% block content %}
    <h1>O stránce</h1>
    Tento webový portál se zaměřuje na získávání, zpracování a analýzu dat zveřejněných úředních desek dle zákona č. 106/1999 Sb. o svobodném přístupu k informacím.

    <h2>Sekce <a href="statistics">Statistiky</a></h2>
    Tato sekce se skládá z grafů o zveřejněných úředních deskách

    <h2>Sekce <a href="municipalities">Obce</a></h2>
    <p>V této sekci se nachází seznam všech obcí a městkých částí v České republice, ve kterém lze vyhledávat dle názvu.
        U každého záznamu jsou základní informace a odkaz na samostanou stránku s detailní přehledem
        úřední desky publikované obecním úřadem dané obce / městské části.</p>

    <h2>Sekce <a href="municipalities">Úřední desky</a></h2>
    <p>V této sekci se nachází seznam všech úředních desek přístupných v NKODu = Národním Katalogu Otevřených Dat.
        Stejně jako u sekce Obce, tak u každého záznamu jsou základní informace a odkaz na samostanou stránku s detailní přehledem
        úřední desky.</p>

    <h2>Sekce <a href="documents">Documenty na deskách</a></h2>
    <p>Tato sekce zobrazuje list všech dokumentů které jsou odkazovány z úředních desek a umožnuje "full-text"
    vyhledávání nad extrahovným textem z techto dokumentů.</p>

{% endblock %}