{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'render_board.html' import render_board %}


{% block title %}{{ municipality.name }}{% endblock %}
{% block content %}
    <h1>{{ municipality.name }}</h1>
{#    Print municipality#}
    <table class="table">
        <tr>
            <td>RUIAN</td>
            <td>{{ municipality.ruian }}</td>
        </tr>
        <tr>
            <td>IČO</td>
            <td>{{ '%08d' % municipality.ico }}</td>
        </tr>
        {% if not municipality.has_board %}
            <tr class="table-danger">
                <td>Úřední deska</td>
                <td>Chybí</td>
            </tr>
        {% endif %}
    </table>


{#    Print board/s#}
    {% if municipality.has_board %}

        {% if municipality.boards|length > 1 %}
            <h2>Úřední desky</h2>
            {{ render_pagination(pagination) }}
        {% else %}
            <h2>Úřední deska</h2>
        {% endif %}

{#        There is a for loop, but boards will only contain 0 or 1 board#}
        {% for board in boards %}
            {{ render_board(board, sorted_notices, graph_data) }}
        {% endfor %}
    {% endif %}
{% endblock %}
